.bsr-wrapper-paginator {
    display: flex;
    justify-content: center;

    position: fixed;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    width: fit-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 5px 10px;
    border: 1px #058b17 solid;
    border-radius: 0;
    background: #fcfbfb;

}

.bsr-points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.bsr-button {

    height: 30px;
    min-width: 30px;
    margin: 5px;
    font-size: 18px;

    color: #6d6a6a;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dedcdc;
    border: none;
}


.bsr-button-ellipsis {

    display:flex;
    justify-content: center;
    align-items: center;
    color: #6d6a6a;
    margin: 3px 20px;
    font-size: 20px;
    font-weight: bold;

}

.bsr-button:hover {
    background-color: darkgrey;
}
.bsr-button:focus {
    background-color: green;
    border: none;
    outline: none;
    color: white;
}

.bsr-button-selection {
    background-color: green;
    color: white;

}

.bsr-button-side {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    margin: 5px;
    font-size: 18px;



    color: #6d6a6a;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.bsr-button-side:hover{
    background-color: #dedcdc;
}
.bsr-button-side:active{
    background-color: #c7c6c6;
}
.bsr-button-side:disabled{
    background-color: #dcd4d4;
    opacity: 50%;
    cursor: not-allowed;
}

